.page{
	padding: 2rem 3.5rem 3rem;
  min-height: calc(100vh - 140px);
  background: var(--primary-bg);
}

.card{
	max-width: 1000px;
  margin: 0 auto;
  padding: 30px; 
	background: pink;
}

.header{
	/* background: purple; */
	display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2px;
}

.iconWrapper{
	background-color: aqua;
}